exe
__pycache__/
testPy/__pycache__/
googletest-master/
sstd/include/
sstd/lib/
sstd/tmpMake/
backup/

tmpDir/
tmp*/

# test files
sin.png
sin_cos.png
test_reCombined.png
test__writeAll_bin_char.png
test__writeAll_bin_str.png

